<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="k" routerLink="/os-minion">
    <ion-thumbnail class="thumb">
      <img
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wKiOkZTN9lUUUNZLmtnwubZYONg.jpg"
        alt=""
      />
    </ion-thumbnail>
    <ion-label>
      <h1 class="titulo">Minions 2: A Origem de Gru</h1>
      <p class="titulo">30/06/2022</p>

    </ion-label>
  </ion-item>

  <ion-item class="k" routerLink="/doutor-estranho-multiverso-da-loucura">
    <ion-thumbnail class="thumb">
      <img
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/h3IqJhS9jY60EKQ1vWv2O3lrSUb.jpg"
        alt=""
      />
    </ion-thumbnail>
    <ion-label>
      <h1 class="titulo">Doutor Estranho no Multiverso da Loucura</h1>
      <p class="titulo">05/05/2022</p>

    </ion-label>
  </ion-item>

  <ion-item class="k" routerLink="/jurassic-word-dominio">
    <ion-thumbnail class="thumb">
      <img
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/w6Jz1AgjscqBuS8qXBd0wUHz5zC.jpg"
        alt=""
      />
    </ion-thumbnail>
    <ion-label>
      <h1 class="titulo">Jurassic World: Domínio</h1>
      <p class="titulo">02/06/2022</p>

    </ion-label>
  </ion-item>

  <ion-item class="k" routerLink="/panico">
    <ion-thumbnail class="thumb">
      <img
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/cJj2gYzkPFSqYGGOhfLgeANlXkB.jpg"
        alt=""
      />
    </ion-thumbnail>
    <ion-label>
      <h1 class="titulo">Pânico</h1>
      <p class="titulo">31/01/1997</p>

    </ion-label>
  </ion-item>

  <ion-item class="k" routerLink="/hora-do-pesadelo">
    <ion-thumbnail class="thumb">
      <img
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/bFwAfcDbpUNceH5zWt5kTFp3WyP.jpg"
        alt=""
      />
    </ion-thumbnail>
    <ion-label>
      <h1 class="titulo">A hora do pesadelo</h1>
      <p class="titulo">27/11/1986</p>

    </ion-label>
  </ion-item>

  <ion-item class="k" routerLink="/lugar-silencioso">
    <ion-thumbnail class="thumb">
      <img
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rNgg9wuyeYpCpuzkyLbvaupnmvq.jpg"
        alt=""
      />
    </ion-thumbnail>
    <ion-label>
      <h1 class="titulo">Um lugar silencioso</h1>
      <p class="titulo">05/04/2018</p>

    </ion-label>
  </ion-item>

</ion-content>
